<div class="container mt-5">
  @if (pokemonResponse.pokemon(); as pokemon) {
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
        <img [src]="pokemon.picture" class="img-fluid rounded-start" [alt]="pokemon.name" />
      </div>
      <div class="col-md-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <h2 class="card-title">{{ pokemon.name }}</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>
                    <input
                      [value]="pokemon.name"
                      formControlName="name"
                      [class.is-invalid]="pokemonName.invalid"
                      type="text"
                      class="form-control"
                      placeholder="Nom du Pokémon"
                    />
                    @if (pokemonName.hasError('required')) {
                      <div class="invalid-feedback">Veuillez entrer un nom pour le Pokémon.</div>
                    }
                    @if (pokemonName.hasError('pattern')) {
                      <div class="invalid-feedback">
                        Le nom du Pokémon ne peut contenir que des lettres.
                      </div>
                    }
                    @if (pokemonName.hasError('maxlength')) {
                      <div class="invalid-feedback">
                        Le nom du Pokémon ne peut pas dépasser
                        {{ POKEMON_RULES.MAX_NAME }} caractères.
                      </div>
                    }
                    @if (pokemonName.hasError('minlength')) {
                      <div class="invalid-feedback">
                        Le nom du Pokémon doit contenir au moins
                        {{ POKEMON_RULES.MIN_NAME }} caractères.
                      </div>
                    }
                  </td>
                </tr>
                <tr>
                  <th scope="row">Points de vie</th>
                  <td>
                    <div class="input-group">
                      <button
                        class="btn btn-outline-secondary"
                        (click)="decrementLife()"
                        [disabled]="pokemonLife.value <= POKEMON_RULES.MIN_LIFE"
                      >
                        -
                      </button>
                      <input
                        [value]="pokemon.life"
                        formControlName="life"
                        type="number"
                        class="form-control text-center"
                      />
                      <button
                        class="btn btn-outline-secondary"
                        (click)="incrementLife()"
                        [disabled]="pokemonLife.value >= POKEMON_RULES.MAX_LIFE"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dégâts</th>
                  <td>
                    <div class="input-group">
                      <button
                        class="btn btn-outline-secondary"
                        (click)="decrementDamage()"
                        [disabled]="pokemonDamage.value <= POKEMON_RULES.MIN_DAMAGE"
                      >
                        -
                      </button>
                      <input
                        [value]="pokemon.damage"
                        formControlName="damage"
                        type="number"
                        class="form-control text-center"
                      />
                      <button
                        class="btn btn-outline-secondary"
                        (click)="incrementDamage()"
                        [disabled]="pokemonDamage.value >= POKEMON_RULES.MAX_DAMAGE"
                      >
                        +
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Types</th>
                  <td>
                    @for (type of getPokemonTypesList.controls; track type; let index = $index) {
                      <button
                        type="button"
                        class="btn btn-secondary btn-sm rounded-pill me-2"
                        (click)="getPokemonTypesList.removeAt(index)"
                        [ngStyle]="{
                          'background-color': getPokemonColor(type.value),
                          color: getTextColor(type.value),
                        }"
                      >
                        {{ type.value }}
                      </button>
                    }
                    @if (getPokemonTypesList.hasError('required')) {
                      <div class="invalid-feedback d-block">
                        Veuillez sélectionner au moins un type pour le Pokémon.
                      </div>
                    }
                    @if (getPokemonTypesList.hasError('maxlength')) {
                      <div class="invalid-feedback d-block">
                        Le Pokémon ne peut pas avoir plus de
                        {{ POKEMON_RULES.MAX_TYPES }} types.
                      </div>
                    }
                    <div class="row mt-3">
                      @for (type of pokemonTypeList; track type) {
                        <div class="col-md-4">
                          <div>
                            <input
                              #checkbox
                              (change)="onPokemonTypeChange(type, checkbox.checked)"
                              [checked]="isPokemonTypesSelected(type)"
                              class="form-check-input"
                              type="checkbox"
                              [value]="type"
                              [id]="type"
                            />
                            <label class="form-check-label" [for]="type">
                              {{ type }}
                            </label>
                          </div>
                        </div>
                      }
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
              <button
                class="btn btn-link text-decoration-none text-warning"
                [routerLink]="['/pokemons', pokemon.id]"
              >
                RETOUR
              </button>
              <button
                class="btn btn-link text-decoration-none text-warning"
                [disabled]="form.invalid"
                [class.text-secondary]="form.invalid"
                [class.text-warning]="form.valid"
              >
                SAUVEGARDER LES CHANGEMENT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  } @if (pokemonResponse.loading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
  @if (pokemonResponse.error()) {
    <div class="container text-center mt-5">
      <div class="card">
        <div class="card-bady">
          <img
            src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
            class="img-fluid mx-auto d-block"
            alt="Rondoudou"/>
          <h2 class="mt-4">hey, ce Pokémon n'existe pas !</h2>
          <a routerLink="/pokemons" class="btn btn-link text-decoration-none text-warning mt-3">RETOUR</a>
        </div>
      </div>
    </div>
  }
</div>
